﻿
@{
    ViewBag.Title = "Index";
}
<style>


    #left {
        position: fixed;
        top: 0;
        bottom: 0;
    }



    button {
        border-bottom-width: 2px;
        border-bottom-color: green;
        background-color: white;
        color: black;
    }



    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    /* The grid: Four equal columns that floats next to each other */
    .column {
        float: left;
        width: 25%;
        padding: 10px;
    }

        /* Style the images inside the grid */
        .column img {
            opacity: 0.8;
            cursor: pointer;
        }

            .column img:hover {
                opacity: 1;
            }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* The expanding image container */
    .container {
        display: none;
    }

    /* Expanding image text */
    #imgtext {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: white;
        font-size: 20px;
    }

    /* Closable button inside the expanded image */
    .closebtn {
        position: absolute;
        top: 10px;
        right: 15px;
        color: white;
        font-size: 35px;
        cursor: pointer;
    }
    .nav li {
        display:flex!important;
    }
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Product", "Index", "Product")</li>
                <li>@Html.ActionLink("Store", "Index", "Store")</li>
                <li>@Html.ActionLink("Logout", "Index", "Home")</li>
            </ul>
        </div>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-12 py-2 d-flex align-items-center justify-content-center"
             id="left">
            <div class="col-md-12 ">
                <div id="table-scroll" class="table-scroll  table-responsive table-scroll-Onboard ">
                    <table id="main-table" class="main-table  table-bordered table table-hover " ondrop="drop(event)" ondragover="allowDrop(event)">
                        <thead style="background-color:lightpink">
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center" colspan="3">Product</th>
                                <th class="text-center">Price </th>
                                <th class="text-center" colspan="2">Quantity</th>
                                <th class="text-center">Sub Total</th>

                            </tr>
                        </thead>
                        <tbody id="tbodystoregrid">
                            <tr>
                                <td colspan="9" class="text-center"><h1>There Are No Products</h1></td>
                            </tr>
                        </tbody>
                        <tfoot style="background-color:gray;">
                            <tr>
                                <th class="text-center" style="color:white" colspan="3">SubTotal</th>
                                <td class="text-center" style="color:white" colspan="2"></td>

                                <td class="text-center" colspan="2"><input type="text" id="Subtotaldiv" class="form-control text-center" readonly="readonly" /></td>
                                <td class="text-center"></td>
                            </tr>

                            <tr>
                                <th class="text-center" style="color:white" colspan="3">VAT</th>
                                <td class="text-center" style="color:white" colspan="2"></td>
                                <td class="text-center" colspan="2"><input type="text" class="form-control text-center" id="vatid" /></td>
                                <td class="text-center"></td>



                            </tr>
                            <tr>
                                <th class="text-center" style="color:white" colspan="3">Discount</th>
                                <td class="text-center" style="color:white" colspan="2"></td>
                                <td class="text-center" colspan="2"><input id="discountid" type="text" class="form-control text-center" /></td>

                                <td class="text-center" style="color:white"><h4>(In % )</h4></td>


                            </tr>
                            <tr>
                                <th class="text-center" style="color:white" colspan="3">Total</th>
                                <td class="text-center" style="color:white" colspan="2"></td>
                                <td class="text-center" colspan="2"><input id="totalid" type="text" class="form-control text-center" readonly="readonly" /></td>
                                <td class="text-center"></td>


                            </tr>
                        </tfoot>

                    </table>

                    <div class="text-center">
                        <button type="button" id="btncancel" class="btn btn-danger">Cancel Sale</button>


                        <button type="button" id="btnSaveSale" class="btn btn-success">Process Sale</button>

                    </div>


                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12 offset-0 offset-sm-6 py-2">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
                    <a class="navbar-brand" href="#"> <a class="active" href="#"><i class=""></i></a> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="javascript:void(0)"><button id="btnHome" onclick="getProductDetails(0,'Category','All')"><i class="fa fa-home"></i></button></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0)"><button id="btnComputer" onclick="getProductDetails(0,'Category','Computers')">computers</button></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0)" onclick="getProductDetails(0,'Category','Fruits')"><button>Fruits</button></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0)" onclick="getProductDetails(0,'Category','Clothing')"><button>clothing</button></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0)" onclick="getProductDetails(0,'Category','servicing')"><button>servicing</button></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0)" onclick="getProductDetails(0,'Category','burger')"><button>burger</button></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0)" onclick="getProductDetails(0,'Category','pizza')"><button>pizza</button></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <br>
            <div class="active-pink-4 mb-4">
                <input class="form-control" type="text" id="searchtext" placeholder="Search" aria-label="Search">
            </div>
            <div class="jumbotron" id="divstore">

            </div>
            <button type="button" style="display:none" id="btnopenmodal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

        </div>
    </div>
</div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="float:left">Invoice Details</h4>

                <a class="close" href="@Url.Action("Index","Store")"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <div style="width:100%; ">
                    <table id="main-table" class="main-table  table-bordered table table-hover ">
                        <thead style="background-color:lightpink">
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center" colspan="3">Product</th>
                                <th class="text-center">Price </th>
                                <th class="text-center" colspan="2">Quantity</th>
                                <th class="text-center">Sub Total</th>

                            </tr>
                        </thead>
                        <tbody id="tbodyinvoicegrid"></tbody>
                        <tfoot style="background-color:gray;">
                            <tr>
                                <th class="text-center" style="color:white" colspan="3">SubTotal</th>
                                <td class="text-center" style="color:white" colspan="2"></td>

                                <td class="text-center" colspan="2"><input type="text" id="Subtotaldiv1" class="form-control text-center" /></td>
                                <td class="text-center"></td>
                            </tr>

                            <tr>
                                <th class="text-center" style="color:white" colspan="3">VAT</th>
                                <td class="text-center" style="color:white" colspan="2"></td>
                                <td class="text-center" colspan="2"><input type="text" class="form-control text-center" id="vatid1" /></td>
                                <td class="text-center"></td>



                            </tr>
                            <tr>
                                <th class="text-center" style="color:white" colspan="3">Discount</th>
                                <td class="text-center" style="color:white" colspan="2"></td>
                                <td class="text-center" colspan="2"><input id="discountid1" type="text" class="form-control text-center" /></td>

                                <td class="text-center" style="color:white"><h4>(In % )</h4></td>


                            </tr>
                            <tr>
                                <th class="text-center" style="color:white" colspan="3">Total</th>
                                <td class="text-center" style="color:white" colspan="2"></td>
                                <td class="text-center" colspan="2"><input id="totalid1" type="text" class="form-control text-center" /></td>
                                <td class="text-center"></td>


                            </tr>
                        </tfoot>

                    </table>
                    <div class="text-center">
                        <a id="btncancel" href="@Url.Action("Index","Store")" class="btn btn-danger">Close</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@*<link rel="stylesheet" type="text/css" href="css/style.css">*@

@section scripts{
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    <script type="text/javascript">
        var gridData = [];
        var counter = 1;
        $(document).ready(function (e) {
            $('#vatid').focusout(function () {
                var total = parseFloat($('#Subtotaldiv').val()) + parseFloat($('#vatid').val());
                $('#totalid').val(total);
            });
            $('#discountid').focusout(function () {
                var total = parseFloat($('#Subtotaldiv').val()) + parseFloat($('#vatid').val());

                var amount = total -(total * parseFloat($('#discountid').val())/100);
                $('#totalid').val(amount);
            });

            $('#btncancel').click(function () {
                if (confirm('Are You Sure You Want to Cancel the Sale?')) {

                    alert('Data Erased.');
                    window.location.href = "@Url.Action("Index","Store")";
                } else {

                }

            });

            $('#btnSaveSale').click(function () {
                SaveSaleDetails();

            });

            $('#searchtext').keyup(function () {
                if ($(this).val().length > 0) {
                    getProductDetails(0, 'Item', $(this).val());

                } else {
                    getProductDetails(0, 'Category', 'All');

                }

            });
                // alert(1)

                getProductDetails(0, 'Category', 'All');

            });

            function allowDrop(ev) {
                ev.preventDefault();
            }

            function drag(ev) {
               // debugger
                ev.dataTransfer.setData("text", ev.target.id);
            }

            function drop(ev) {
              //  debugger
                var data = ev.dataTransfer.getData("text");

                var filterRoute = find_in_object(gridData, { PK_ItemId: data });

                addRow(filterRoute);

            }


            function getProductDetails(ProductId, searchby, searchvalue) {

                var trHTML = '';
                $("#divstore").html('');
                $.ajax({
                    url: 'http://localhost:30575/api/Product/GetItemDetalis',//?PK_ProductId=' + ProductId + "&SearchBy=" + searchby + "&SearchValue=" + searchvalue,
                    type: 'GET',
                    data: jQuery.param({ PK_ProductId: ProductId, SearchBy: searchby, SearchValue: searchvalue }) ,
                    //    { 'PK_ProductId': ProductId, 'SearchBy': searchby, 'SearchValue': searchvalue },
                    success: function (data) {
                        //    debugger
                        //  alert(data)
                        gridData = data;
                        trHTML += '<div  class="row">';
                        $.each(data, function (index, element) {
                            //  debugger
                            var imgurl = element.ProductImageName;
                            trHTML += '<div  class="column divimagecolumn">';
                            trHTML += '<img src="' + imgurl + '" style="height:100px;width:100px" title="' + element.Description + '" draggable="true" ondragstart="drag(event)" id="' + element.PK_ItemId+'">';
                            trHTML += "</div>";

                        });
                        trHTML += '</div>';
                        $("#divstore").append(trHTML);

                        //$('#GridDiv').html(data);
                    }
                });
            }
        function find_in_object(my_object, my_criteria) {
            return my_object.filter(function (obj) {
                return Object.keys(my_criteria).every(function (c) {
                    return obj[c] == my_criteria[c];
                });
            });
        }

        function addRow(data) {
            var trHTML = '';
            if ($('#tbodystoregrid').find('tr').length == 1 && counter==1) {
                $('#tbodystoregrid').html('');
            }
          var tdid=  $('#tbodystoregrid').find('tr').length
            $.each(data, function (index, element) {
              //  debugger
                var total = element.ItemPrice * 1;
                trHTML += '<tr>'
                    + '<td class="text-center" colspan="3" style="display:none">' + element.PK_ItemId + '</td>'
                    + '<td class="text-center"><button onclick="deleteRow(this,\'' + (parseInt(index) + 1) + '\')"><i  class="fa fa-close"></i></button></td>'
                    + '<td class="text-center" colspan="3">' + element.ItemName + '</td>'
                    + '<td class="text-center">' + element.ItemPrice + '</td>'
                    + '<td class="text-center" colspan="2"><button onclick="addcounter(' + element.ItemPrice + ',\'' + (parseInt(tdid)) + '\')"><i  class="fa fa-plus"></i></button><input id=' + 'cartvalue' + parseInt(parseInt(tdid)) + ' style="width:26px" type="text" value="1" readonly="readonly"/><button onclick="minuscounter(' + element.ItemPrice + ',\'' + (parseInt(tdid)) + '\')"><i class="fa fa-minus"></i></button></td>'
                    + '<td class="text-center totalsum" id=' + 'prodid' + parseInt(parseInt(tdid)) + '>'+total+'</td>'


                '</tr>'
                //var indexid = "#" + index;
                //var total = element.ItemPrice * 1;
                //$('#prodid').html(total);
            });
            $('#tbodystoregrid').append(trHTML);
            updateSubTotal();
            counter = counter + 1;
        }

        function addcounter(price, id) {
           // debugger
            $('#cartvalue'+id).val(parseInt(parseInt($('#cartvalue'+id).val()) + 1));
            $('#prodid'+id).text(price * $('#cartvalue'+id).val());
            updateSubTotal()


        }


        function minuscounter(price, id) {
            //debugger
            if (parseInt($('#cartvalue' + id).val())== 0) {
                $('#cartvalue' + id).find('i').attr('disabled', 'disabled');
            } else {
                $('#cartvalue' + id).val(parseInt(parseInt($('#cartvalue' + id).val()) - 1));
                $('#prodid' + id).text(price * $('#cartvalue' + id).val());
            }
            updateSubTotal()
        }

        function deleteRow(row, id) {
           // debugger

                var Cost_Cell_Id = '#' + id;
            document.getElementById('main-table').deleteRow(row.parentNode.parentNode.rowIndex);
                //  UpdateTableRowSeq('#tblSubTripsDetails tbody', 1)
               // setIndex()
                // TableLength = parseInt(parseInt($('#tbodySubTripsDetails').find('tr').length) - 1)
            updateSubTotal()
            $('#totalid').val('');
            $('#vatid').val('');
            $('#discountid').val('');
            discount
        }

        function updateSubTotal() {
           var sum=0
           $('.totalsum').each(function () {
               sum += parseFloat($(this).text());  // Or this.innerHTML, this.innerText
            });
            $('#Subtotaldiv').val(sum);

        }


        function SaveSaleDetails() {
            debugger
            var arrData = [];
            $('#tbodystoregrid').find('tr').each(function () {
                var $td = $(this).find('td');
                arrData.push({
                    ProductId: $td.eq('0').text(),
                    Quantity: $td.eq('4').find('input').val()
                });

            });




            var strdetail = JSON.stringify(arrData);

            var person = {
                TotalAmount: $('#totalid').val(),
                SubTotal: $('#Subtotaldiv').val(),
                VAT: $('#vatid').val(),
                Discount: $('#discountid').val(),
                EmployeeId: 1,
                Detail: arrData

            };
            var mainData = JSON.stringify(person);
            $.ajax({

                    type: 'POST',
                url: 'http://localhost:30575/api/Sale/AddSaleDetails',
                data: JSON.stringify(person),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',

                success: function (data) {
                   // debugger
                    var trHTML = '';
                    $('#btnopenmodal').trigger('click');
                  //  $('#myModal').modal('show');
                    $.each(data[0].Detail, function (index, element) {
                        var total = element.ItemPrice * element.Quantity;

                        trHTML += '<tr>'
                            + '<td class="text-center"></td>'
                            + '<td class="text-center" colspan="3">' + element.ProductName + '</td>'
                            + '<td class="text-center">' + element.ItemPrice + '</td>'
                            + '<td class="text-center" colspan="2"><input  style="width:26px" type="text" value="' + element.Quantity + '" readonly="readonly"/></td>'
                            + '<td class="text-center totalsum" >' + total + '</td>'


                        '</tr>'

                    });
                    trHTML += '</div>';
                    $("#tbodyinvoicegrid").append(trHTML);
                    debugger
                    $('#discountid1').val(data[0].Discount);
                    $('#vatid1').val(data[0].VAT);
                    $('#Subtotaldiv1').val(data[0].SubTotal);
                    $('#totalid1').val(data[0].TotalAmount);
                    //  window.location.href = '@Url.Action("Index","Product")';
                    $('#totalid1,#discountid1,#vatid1,#Subtotaldiv1').attr('disabled', 'disabled');
                },

                error: function () {

                //    $('#updatepanelFile').addClass('alert_error').html('<strong>Failed!</strong> Error in upload');

                }

                    })
        }
    </script>
}

