﻿@model Point_of_Sales.Models.ProductMDL
@{
    ViewBag.Title = "AddEditProduct";
}

<div class="section-body">
    <div class="container-fluid contentHeightShow">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="textHead"><h2><strong>Entry Product</strong></h2></div>


            </div>
            <div class="panel-body">
               
                    @Html.HiddenFor(E => E.PK_ItemId)
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="inputEmail">Item Name<span class="red">*</span></label>
                                    <div class="col-md-8">
                                        <div class="dateView">
                                            @Html.TextBoxFor(E => E.ItemName, new { @class = "form-control", @placeholder = "Item Name" })
                                            @Html.ValidationMessageFor(E => E.ItemName)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="inputEmail">Price<span class="red">*</span></label>
                                    <div class="col-md-8">
                                        <div class="dateView">
                                            @Html.TextBoxFor(E => E.ItemPrice, new { @class = "form-control", @placeholder = "Item Price" })
                                            @Html.ValidationMessageFor(E => E.ItemPrice)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="inputEmail">Quantity<span class="red">*</span></label>
                                    <div class="col-md-8">
                                        <div class="dateView">
                                            @Html.TextBoxFor(E => E.OpeningQuantity, new { @class = "form-control", @placeholder = "Quantity" })
                                            @Html.ValidationMessageFor(E => E.ItemPrice)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4" for="inputEmail">Product Image<span class="red">*</span></label>
                                    <div class="col-md-8">
                                        @Html.DisplayFor(E=>E.ProductImageName)
                                        <input type="file" id="fileupload" class="form-control" />
                                    </div>
                                </div>
                            <div class="form-group">
                                <label class="control-label col-md-4" for="inputEmail">Category<span class="red">*</span></label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(E=>E.CategoryName, new List<SelectListItem>

                                                    {
                                                       new SelectListItem{ Text="Clothing", Value = "Clothing" },
                                                       new SelectListItem{ Text="computers", Value = "computers" },
                                                       new SelectListItem{ Text="Fruits", Value = "Fruits" },
                                                      new SelectListItem{ Text="servicing", Value = "servicing" },
                                                       new SelectListItem{ Text="burger", Value = "burger" },
                                                       new SelectListItem{ Text="pizza", Value = "pizza" }

                                                    },new { @class="form-control"})
                                    @Html.ValidationMessageFor(E => E.CategoryName)
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4" for="inputEmail">Description<span class="red">*</span></label>
                                <div class="col-md-8">
                                    @Html.TextAreaFor(E => E.Description, new { @class = "form-control", @placeholder = "Description" })
                                    @Html.ValidationMessageFor(E => E.Description)
                                </div>
                            </div>


                            <div class="form-group btnShowDIv" id="sub">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary" id="btnSubmit"> Submit</button>
                                    <a href='@Url.Action("Index")' class="btn btn-primary">Cancel</a>
                                </div>
                            </div>

                        </div>

                    </div>
                    </div>
                
            </div>
        </div>
    </div>
    </div>

    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script type="text/javascript">

            $(document).ready(function () {
                $('#btnSubmit').click(function () {
                    if ($('#fileupload').val() == '') {

                        alert('Plase select file');

                        return;

                    }
                    var Data = [];
                    Data.push({
                        PK_ItemId: ($('#PK_ItemId').val() == '') ? 0 : $('#PK_ItemId').val(),
                        ItemName: $('#ItemName').val(),
                        OpeningQuantity: $('#OpeningQuantity').val(),
                        Description: $('#Description').val(),
                        CategoryName: $('#CategoryName').val(),
                        ItemPrice: $('#ItemPrice').val()

                    });

                    var strjson = JSON.stringify(Data);

                    var formdata = new FormData();

                    var file = $('#fileupload')[0];

                    formdata.append('ProductImage', file.files[0]);
                    formdata.append('ProductData', strjson);


                    $.ajax({

                        url: 'http://localhost:30575/api/Product/AddProductDetails',

                        type: 'POST',

                        data: formdata,

                        contentType: false,

                        processData: false,

                        success: function (data) {
                            alert(data.Message);
                            window.location.href = '@Url.Action("Index","Product")';

                        },

                        error: function () {

                        //    $('#updatepanelFile').addClass('alert_error').html('<strong>Failed!</strong> Error in upload');

                        }

                    })
                });


            });
        </script>
    }
