﻿
@{
    ViewBag.Title = "Index";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Home", "Index", "Product", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Product", "Index", "Product")</li>
                <li>@Html.ActionLink("Store", "Index", "Store")</li>
                <li>@Html.ActionLink("Logout", "Index", "Home")</li>
            </ul>
        </div>
    </div>
</div>
<div class="section-body">
    <div class="container-fluid contentHeightShow">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="textHead"><h2><strong>Product Stock</strong></h2></div>
                <div style="text-align:right">
                    <a class="btn btn-primary" href="@Url.Action("AddEditProduct")"><i class="fa fa-plus"></i>Add New</a>
                </div>

            </div>
            <div class="panel-body">
                @*<div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">Peoduct Search</div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6">
                                                <select class="form-control" id="SearchCreteria">
                                                    <option selected="selected" value="">Select</option>
                                                    <option value="ItemName">Product Name</option>
                                                    <option value="Date">Created Date</option>

                                                </select>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div id="imaginary_container">
                                                    <div class="input-group stylish-input-group">
                                                        <input type="text" id="SearchValue" class="form-control" placeholder="Search">
                                                        <span class="input-group-addon">
                                                            <button type="submit" onclick="getProductDetails()">
                                                                <span class="glyphicon glyphicon-search"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@


                <div id="GridDiv">
                    <div class="col-md-12">
                        <div id="table-scroll" class="table-scroll  table-responsive table-scroll-Onboard">
                            <table id="main-table" class="main-table  table-bordered table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Sr.No.</th>
                                        <th class="text-center">Product Name</th>
                                        <th class="text-center">Product Price </th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-center">Product Category</th>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Action</th>

                                    </tr>
                                </thead>
                                <tbody id="tbodyProductDetails"></tbody>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {

        getProductDetails();

    });
    function getProductDetails() {
        var trHTML = '';
        $("#tbodyProductDetails").html('');
        $.ajax({
            url: 'http://localhost:30575/api/Product/GetItemDetalis?',
            type: 'GET',
            // data: { 'SearchBy': $('#SearchCreteria').val(), 'SearchValue': $('#SearchValue').val()},
            success: function (data) {
                //  alert(data)

                $.each(data, function (index, element) {
                    var pkid = element.PK_ItemId;
                    trHTML += '<tr>'
                        + '<td class="text-center">' + parseInt(index + 1) + '</td>'
                        + '<td class="text-center">' + element.ItemName + '</td>'
                        + '<td class="text-center">' + element.ItemPrice + '</td>'
                        + '<td class="text-center">' + element.OpeningQuantity + '</td>'
                        + '<td class="text-center">' + element.CategoryName + '</td>'
                        + '<td class="text-center">' + element.Description + '</td>'
                        + '<td class="text-center"><button class="btn - primary" onclick="EditDetails(' + pkid + ')" >Edit</button> <button class="btn - danger" onclick="DeleteDetails(' + pkid + ')" >Delete</button></td>'
                    //onclick = 'btnRouteSwap(" + tot + ", " + PK_RouteClubId + ", " + ele.PK_Employee_Id + ", " + ele.PK_Det_ClubId + ", " + ScottEnabled + ", " + CompanyId + ")'
                    //+ '<td class="text-center">' +<a class="btn btn-primary">Edit</a>+ '</td>'

                    '</tr>'
                });
                $("#tbodyProductDetails").append(trHTML);

                //$('#GridDiv').html(data);
            }
        });
    }
    function EditDetails(Id) {
        /**/
        window.location.href = "http://localhost:30575/Product/AddEditProduct?id="+Id
    /**/
    }

    function DeleteDetails(pkids) {
        var res = confirm('Are You Sure You Want To Delete Product.')
        if (res) {
            $.ajax({
                url: 'http://localhost:30575/api/Product/DeleteProduct?PK_ItemId=' + pkids,
                type: 'GET',
                success: function (data) {
                    alert(data.Message);
                    window.location.href = '@Url.Action("Index","Product")'

                }
            });
        }
    }
</script>
}

