﻿
@model Point_of_Sales.Models.LoginModel
@{
    ViewBag.Title = "Index";
}
<div class="row jumbotron">
    <div class="col-lg-8">
        <img style="width:100%;height:700px" src="~/Images/FlyMind.jpg" alt="Italian Trulli">

    </div>
    <div class="col-md-4">
        <div class="jumbotron" style="background-color:lightblue; height:600px !important">
            @using (Html.BeginForm("UserLogin", "LogIn",
           FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="card m-0">
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form-horizontal" action="" novalidate>
                                <h2 style="color:Red">LogIn</h2>

                                @*<p>@MFTSLanguages.LocalResources.Resource.LoginHeaderName</p>*@

                                <div class="form-group col-md-12">

                                    @Html.TextBoxFor(E => E.UserName, new { @class = "form-control input-md", @placeholder = "User Name", @maxlength = "30", })
                                    @Html.ValidationMessageFor(E => E.UserName)
                                    @*<input type="text" class="form-control input-lg" id="user-name" placeholder="@MFTSLanguages.LocalResources.Resource.YourUserID">*@

                                    <div class="form-control-position">
                                        <i class="la la-user"></i>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    @*<input type="password" class="form-control input-lg" id="user-password" placeholder= "@MFTSLanguages.LocalResources.Resource.Password" >*@
                                    @Html.PasswordFor(E => E.Password, new { @class = "form-control input-md", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(E => E.Password)
                                    <div class="form-control-position">
                                        <i class="la la-key"></i>
                                    </div>
                                </div>
                                <strong>@TempData["LoginMessage"]</strong>


                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-success"> Login </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {

        });

    </script>
}


